body {
  margin: 5%; 
  background-color: silver;
}

h1 {
  color: red;
}

em {
  font-style: normal;
  color: #f30;
}

#breadcrumbs { font-size: 90% }
#breadcrumbs + h1 { margin-top: 0 }

a:link { color: blue } /* 通常のリンク */
a:visited{ color: purple } /* 訪問したリンク */
a:hover {color: red} /* マウスの乗ったリンク*/
a:active {color: teal} /* クリック中のリンク */

.migi {
  float: right;
  margin: 0 0 1em 1em;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

img {
  border-style: none;
}

figcaption {
  text-align: center;
}

td, th{
  border: 1px solid;
  padding: 0.2em 0.7em;
}

th { text-align: left;
  background-color: #FFC;} /* light yellow */
td { text-align: right; 
  background-color: #CFF;} /* light cyan */

table {
  border-collapse: collapse;
  border: 3px solid;
}

table.hoge {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 3px solid black;
}

table.hoge td {
  text-align: right;
  padding: 0.2em 0.7em;
  border: 1px solid gray;
  background-color: #CFF;
}

table.hoge th {
  text-align: left;
  padding: 0.2em 0.7em;
  border: 1px solid gray;
  background-color: #FFC;
}

caption {caption-side: bottom}